/*
This was Developed by https://twitter.com/Arc9067
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@font-face {
  font-family: personal;
  src: url(../img/Font/Persona\ DEMO.otf);
  font-weight: normal;
  font-style: normal;
}
:root {
  --clr-primary: #fee5ca;
  --clr-sec: #b00e2f;
  --white: #ffffff;
  --open: "Open Sans", sans-serif;
  --person: personal;
  --border: 1px solid var(--clr-sec);
  --spacing: 0.5rem;
  --max-width: 1200px;
  --linear: 0.3s all linear;
  --ease: 0.3s all ease;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--clr-primary);
  line-height: 1.5;
  font-family: var(--open);
  font-size: 1.3em;
}

.pt {
  display: inline-block;
  margin-top: 2rem;
  color: white;
}

#header {
  min-height: 100vh;
  width: 100%;
  background: var(--clr-primary);
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  color: #b00e2f;
  padding-bottom: 3rem;
  -webkit-border-after: 1rem solid #000;
          border-block-end: 1rem solid #000;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
}
#header .abso {
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 0.2;
}
#header #nav {
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100000;
  display: grid;
  place-items: center;
  --webkit-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#header #nav .in-nav {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  max-width: 1200px;
}
#header #nav .nav-logo {
  display: grid;
  place-items: left;
}
#header #nav .nav-logo a h2 {
  font-size: 1em;
  text-transform: capitalize;
  color: var(--clr-sec);
  font-family: var(--person), var(--open);
}
#header #nav .nav-icons {
  display: flex;
  place-items: center;
}
#header #nav .nav-icons i:first-child {
  border: none;
}
#header #nav .nav-icons i {
  font-size: 1.5em;
  background-color: #fee5ca;
  color: var(--clr-sec);
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  place-items: center;
  border-right: 3px solid rgba(176, 14, 46, 0.6352941176);
  cursor: pointer;
}
#header #nav .nav-icons i:last-child {
  margin-left: 1rem;
}
#header #nav .nav-ul {
  height: 300px;
  width: 90%;
  background-color: var(--clr-sec);
  position: absolute;
  right: 0;
  transition: 0.5s background-color, 0.5s transform, 0.5s border-radius ease-in;
  transform: translateY(-2000%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: var(--clr-primary);
}
#header #nav .nav-ul .nav-ul-icons {
  display: grid;
  justify-items: end;
  padding: 1rem;
}
#header #nav .nav-ul .nav-ul-icons i {
  font-size: 2em;
  justify-self: end;
  color: var(--clr-primary);
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--clr-sec);
  text-align: center;
  border-top: 1px solid #fee5ca;
  border-right: 1px solid #fee5ca;
  cursor: pointer;
}
#header #nav .nav-ul .nav-links {
  padding: 2rem;
}
#header #nav .nav-ul .nav-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#header #nav .nav-ul .nav-links ul li {
  font-family: var(--open);
  font-weight: 600;
  letter-spacing: 0.2rem;
}
#header #nav .displayn {
  transform: translateY(0%);
}
#header .header-content {
  padding-top: 10rem;
  min-height: 80vh;
  padding-left: 1.5rem;
  display: grid;
  place-items: center;
  max-width: 1200px;
  z-index: 10;
}
#header .header-content #footer {
  min-height: 80vh;
  width: 100%;
  background-color: var(--clr-sec);
  position: -webkit-sticky;
  position: sticky;
  display: grid;
  place-items: center;
}
#header .header-content #footer .in-footer {
  background: greenyellow;
  max-width: 1200px;
  width: 90%;
}
#header .header-content #footer .in-footer .footer-context {
  min-width: 100%;
}
#header .header-content #footer .in-footer .footer-context h3 {
  text-transform: uppercase;
  font-size: 2em;
  color: var(--white);
}
#header .header-content #footer .in-footer .footer-context form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  gap: 2rem;
}
#header .header-content #footer .in-footer .footer-context form .input {
  margin-top: 2rem;
}
#header .header-content #footer .in-footer .footer-context form .input p {
  font-size: 0.7em;
  color: #fff;
  text-transform: capitalize;
}
#header .header-content #footer .in-footer .footer-context form .input input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  border-bottom: 1px solid #fee5ca;
  color: white;
  font-family: inherit;
  text-transform: capitalize;
}
#header .header-content #footer .in-footer .footer-context .btn {
  padding: 0.5rem;
  background-color: var(--clr-sec);
  margin-top: 2rem;
  text-transform: capitalize;
  border-color: transparent;
  color: var(--clr-primary);
  border-bottom: 3px solid #fee5ca;
  border-left: 3px solid #fee5ca;
}
#header .header-content #footer .footer-de {
  width: 100%;
  display: grid;
  place-items: center;
}
#header .header-content #footer .footer-de ul {
  max-width: 1200px;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
  gap: 3rem;
  margin-top: 2rem;
  place-items: center;
}
#header .header-content #footer .footer-de ul li {
  font-size: 0.7em;
  text-transform: capitalize;
  text-align: center;
}
#header .header-content .head-max {
  width: 100%;
  display: grid;
  place-items: center;
}
#header .header-content .in-header-con {
  display: grid;
  place-items: center;
}
#header .header-content .container {
  z-index: 100;
}
#header .header-content .container h2 {
  font-size: 2.3em;
  font-family: var(--person);
  line-height: 1.2;
}
#header .header-content .container p {
  line-height: 1;
}
#header .header-content .container .btn {
  height: 100px;
  background-color: #b00e2f;
  color: var(--clr-sec);
  width: 100px;
  border-radius: 50%;
  outline: none;
  border-color: transparent;
  font-size: 1.5em;
  margin-top: 2rem;
  cursor: pointer;
  color: var(--white);
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#header .header-content .container .btn:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#about {
  min-height: 100vh;
  width: 100%;
  background-color: var(--clr-sec);
  display: grid;
  place-items: center;
  overflow-y: hidden;
  -webkit-border-after: 1rem solid #7c0c22;
          border-block-end: 1rem solid #7c0c22;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
  padding-bottom: 1.5rem;
}
#about .container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: var(--white);
}
#about .container .title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  margin-top: 2rem;
}
#about .container .title2 {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
#about .container .about-1 {
  width: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 2rem;
}
#about .container .about-2 {
  margin-top: 2rem;
  border-radius: 10px;
  border-top: 4px solid #fee5ca;
  border-left: 4px solid #fee5ca;
  padding: 0.5rem;
  width: 100%;
}
#about .container .pt {
  text-align: center;
}
#about .container .btn {
  height: 100px;
  background-color: var(--white);
  color: var(--clr-sec);
  width: 100px;
  border-radius: 50%;
  outline: none;
  border-color: transparent;
  font-size: 1.5em;
  margin-top: 2rem;
  cursor: pointer;
  color: var(--white);
  margin: 0 auto;
}
#about .container .btn i {
  color: var(--clr-sec);
}
#about .about-slider {
  width: 100%;
  overflow: hidden;
}
@-webkit-keyframes slid {
  30% {
    margin-left: -50%;
  }
  60% {
    margin-left: -100%;
  }
  90% {
    margin-left: -120%;
  }
}
@keyframes slid {
  30% {
    margin-left: -50%;
  }
  60% {
    margin-left: -100%;
  }
  90% {
    margin-left: -120%;
  }
}
#about .about-slider .in-about-slid {
  width: 200%;
  -webkit-animation-name: slid;
          animation-name: slid;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
#about .about-slider .in-about-slid img {
  width: 22%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

#order {
  min-height: 100vh;
  width: 100%;
  background-color: var(--clr-primary);
  padding: 1.5rem;
}
#order .container {
  color: var(--clr-sec);
}
#order .container h2 {
  text-transform: uppercase;
  color: var(--clr-sec);
  font-family: var(--open);
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  line-height: 0.9;
  padding-bottom: 3rem;
}
#order .container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#order .container .row .order-div:hover {
  background-color: #fef2e4;
}
#order .container .row .order-div {
  border-radius: 5px;
  background-color: var(--white);
  display: grid;
  place-items: center;
  position: relative;
  transition: 0.3s all ease-out;
}
#order .container .row .order-div img {
  height: 100%;
  border-radius: 8px;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#order .container .row .order-div .orderd {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#order .container .row .order-div .orderd .inner-orderd {
  height: 35%;
  padding: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  background-color: inherit;
}
#order .container .row .order-div .orderd .inner-orderd .order-txt {
  text-transform: capitalize;
}
#order .container .row .order-div .orderd .inner-orderd .order-txt p {
  font-size: 0.8em;
}
#order .container .row .order-div .orderd .inner-orderd .order-btn {
  justify-self: end;
}
#order .container .row .order-div .orderd .inner-orderd .order-btn button {
  height: 60px;
  width: 60px;
  background-color: var(--clr-sec);
  outline: none;
  border: none;
  border-radius: 50%;
}
#order .container .row .order-div .orderd .inner-orderd .order-btn button p {
  font-size: 1.5em;
  color: var(--clr-primary);
}

#footer {
  min-height: 80vh;
  width: 100%;
  background-color: var(--clr-sec);
  position: -webkit-sticky;
  position: sticky;
  display: grid;
  place-items: center;
}
#footer .in-footer {
  max-width: 1200px;
  width: 90%;
}
#footer .in-footer .footer-context {
  min-width: 100%;
}
#footer .in-footer .footer-context h3 {
  text-transform: uppercase;
  font-size: em;
  color: var(--white);
}
#footer .in-footer .footer-context form .input:nth-child(1) {
  grid-column: 1/4;
}
#footer .in-footer .footer-context form .input:last-child {
  grid-column: 1/4;
}
#footer .in-footer .footer-context form .input {
  margin-top: 2rem;
}
#footer .in-footer .footer-context form .input p {
  font-size: 0.7em;
  color: #fff;
  text-transform: capitalize;
}
#footer .in-footer .footer-context form .input input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  border-bottom: 1px solid #fee5ca;
  color: white;
  font-family: inherit;
  text-transform: capitalize;
}
#footer .in-footer .footer-context .btn {
  padding: 0.5rem;
  background-color: var(--clr-sec);
  margin-top: 2rem;
  text-transform: capitalize;
  border-color: transparent;
  color: var(--clr-primary);
  border-bottom: 3px solid #fee5ca;
  border-left: 3px solid #fee5ca;
}
#footer .footer-de {
  width: 90%;
  display: grid;
  place-items: center;
}
#footer .footer-de ul {
  max-width: 1200px;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
  gap: 3rem;
  margin-top: 2rem;
  place-items: center;
}
#footer .footer-de ul li {
  font-size: 0.7em;
  text-transform: capitalize;
  text-align: center;
}

@media screen and (min-width: 600px) {
  #header {
    min-height: auto;
  }
  #header .abso {
    opacity: 1;
  }
  #header #nav .in-nav .nav-ul {
    max-width: 25rem;
  }
  #header .header-content {
    place-items: normal start;
    height: 85vh;
    margin: 0 auto;
    min-height: auto;
    padding-left: 0rem;
    padding-bottom: 3rem;
  }
  #header .header-content .in-header-con {
    width: 90%;
  }
  #header .header-content .in-header-con .container {
    width: 100%;
  }
  #header .header-content .in-header-con .container .col-10:nth-child(2) {
    justify-self: end;
  }
  #header .header-content .in-header-con .container h2 {
    font-size: 3em;
    max-width: 25rem;
  }
  #header .header-content .in-header-con .container p {
    max-width: 25rem;
  }
  #about .container {
    max-width: 1200px;
  }
  #about .container .in-container {
    display: grid;
    place-items: center;
  }
  #about .container .title,
#about .container .title2 {
    max-width: 35rem;
    margin: 0 auto;
  }
  #about .container .pt {
    max-width: 30rem;
    display: inline-block;
  }
  #about .container img {
    width: 50% !important;
    display: block;
    margin: 0 auto;
  }
  #order {
    min-height: auto;
    padding-bottom: 4rem;
  }
  #footer {
    min-height: 80vh;
    width: 100%;
  }
  #footer .in-footer .footer-context form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .header-content .head-max .in-header-con .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  #about .container .title {
    color: var(--clr-primary);
  }
  #about .container .in-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25rem 20rem;
    overflow: hidden;
  }
  #about .container .in-container p {
    color: lightgray;
    justify-self: start;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  #about .container .in-container img {
    margin: 0;
  }
  #about .container .in-container .title2 {
    font-size: 0.8em;
  }
  #about .container .in-container img {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */